<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/stylesheets/main.css">
	<script type="text/javascript" src="/javascripts/main.js"></script>
</head>

<body>
	<header class="main-nav">
		<ul>
			<li><a href="/">About</a></li>
			<li><a href="/work">Work</a></li>
			<li><a href="/resume">Resume</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</header>

	<div class="main-content">
		<h3>Welcome to the {{title}} page</h3>
		<p>
			Looking to get in touch?  I offer freelance services for web development, technical business and web project consultation, and the occasional 8bit song.  Feel free to contact me with the nature of project for a quote.
		</p>

		<div class="contact-form">
			<form>
				First Name * <input type="text" name="firstname">
				Last Name * <input type="text" name="lastname"><br>
				Email Address * <input type="text" name="emailaddress"><br>
				Subject * <input type="text" name="subject"><br>
				Message * <input type="text" name="message"><br>
				<input class="button" type="submit" value="Submit">
			</form>
		</div>
	</div>
</body>
</html>


