<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Krista Goralczyk" />
	<meta name="description" content="Krista Goralczyk is a professional sales engineer and web developer in the Pittsburgh area." />
	<meta name="keywords" content="Krista Goralczyk, sales engineer, web development" />
	<title>Krista Goralczyk | Professional Sales Engineer and Web Developer</title>

	<link rel="stylesheet" href="/stylesheets/main.css">
	<script type="text/javascript" src="/javascripts/main.js"></script>

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-65621492-1', 'auto');
		ga('send', 'pageview');

	</script>
</head>

<body>
	<a class="logo" href="/"><img src="/images/kglogo.png"></a>

	<div class="banner" id="home">
		<div class="banner-overlay">
			<div class="banner-text">
				<h2>Krista Goralczyk</h2>
				<h3><i>Software Engineer // Business Strategist</i></h3>
				<ul>
					<li><a href="/images/siteResume_2015.pdf" target="_blank">Resume</a></li>
					<li><a href="mailto:krista.goralczyk@gmail.com" target="_blank">Contact</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="about">

		<div class="about-bio">
			<h3><i>A Brief Bio</i></h3>
			<p>Hi there, I'm Krista Goralczyk.  I recently moved to Charlotte, North Carolina to accept a wonderful opportunity as a software engineer at <a href="https://www.redventures.com/">Red Ventures</a>.  As a Pittsburgh native, I'm used to cold weather, hot coffee, and old brick buildings.  Charlotte is an amazing area (with some great new breweries and hiking trails to explore).  In my free time I like to relax at home & watch cartoons with my fat cat, Booker.</p>

			<p>I kicked off my career as a full-stack Ruby on Rails web developer, and gradually moved into a more strategic business-oriented role as a technical sales engineer  Sales engineering enabled me to pursue programming, as well as work directly with potential clients.  My passion for crafting the most viable and elegant technical solutions unique to each client or partner continually allows me to thrive in this ever-changing industry.  I've since moved back into a pure engineering role, and am enjoying learning React.js and Flux.</p>

			<p>I am currently available for freelance work pertaining to web development and technical sales consultation.  Feel free to contact me for more information.</p>
		</div>
	</div>

	<footer>
		<ul class="social">
			<li><a href="https://www.linkedin.com/pub/krista-goralczyk/61/a18/37" target="_blank"><img src="/images/social/linkedin.png"></a></li>
			<li><a href="https://twitter.com/kristaJG" target="_blank"><img src="/images/social/twitter.png"></a></li>
			<li><a href="https://instagram.com/kristajg_/" target="_blank"><img src="/images/social/instagram.png"></a></li>
			<li><a href="https://soundcloud.com/rezfox" target="_blank"><img src="/images/social/soundcloud.png"></a></li>
		</ul>
		<p>© Copyright 2015 - Krista Goralczyk</p>
	</footer>
</body>
</html>


