<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="/stylesheets/main.css">
	<script type="text/javascript" src="/javascripts/main.js"></script>
</head>

<body>
	<header class="main-nav">
		<ul>
			<li><a href="/">About</a></li>
			<li><a href="/work">Work</a></li>
			<li><a href="/resume">Resume</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</header>

	<div class="main-content">
		<h3>Welcome to the {{title}} page</h3>

		<p>Here are some projects I individually completed or was a major contributer:</p>

		<div class="projects">
			<!-- BB projects -->
			<h3>Branding Brand Projects</h3>
			<ul>
				<li>
					Digital Ocean
				</li>
				<li>
					project engineer: Submarino Viagens Mobile Site
				</li>
				<li>
					project engineer: Ace Hardware iOS?
				</li>
			</ul>
			
			<!-- WW projects -->
			<h3>Wall to Wall Studios Projects</h3>
			<ul>
				<li>
					Self: Twitter v1.1 Module
				</li>
				<li>
					CMU Admissions
				</li>
				<li>
					CMU Fine Arts
				</li>
				<li>
					Koopers Inc
				</li>
				<li>
					National Children's Museum
				</li>
				<li>
					Fresh Grass(?)
				</li>
				<li>	
					CMU Music
				</li>
				<li>	
					Ann Trondle-Price
				</li>
				<li>	
					Compass
				</li>
			</ul>

			<!-- id tech projects -->
			<h3>iD Tech Camps Projects</h3>
			<ul>
				<li>
					2012 C++ Program Curriculum
				</li>
			</ul>

			<!-- soundcloud projects -->
			<h3>Music Projects</h3>
			<ul>	
				<li>
					https://soundcloud.com/rezfox
					^ i should make a new soundcloud acct
				</li>
			</ul>

			<!-- art projects -->
			<h3>Art Projects</h3>
			<ul>	
				<li>
					thumnails for art gallery
				</li>
			</ul>
		</div>
	</div>
</body>
</html>


