@import "partials/header.styl"
@import "partials/footer.styl"

body
  	margin: 0px
  	padding: 0px
  	font: 22px 'Century Gothic', CenturyGothic, AppleGothic, sans-serif
  	background-color: #f5f5f5

a
  color: #fff
  text-decoration: none
a:hover
	color: #4dcdff

a.logo
	display: inline-block
	position: absolute
	max-width: 50px
	max-height: 50px
	padding: 15px 0px 0px 15px

	img
		width: 100%
		height: auto

.banner
	display: inline-block
	width: 100%
	background: url("/images/nightspace.jpeg") no-repeat
	background-attachment: fixed
	background-size: cover
	-webkit-box-shadow: 0px 2px 4px 1px rgba(124,124,124,0.75)
	-moz-box-shadow: 0px 2px 4px 1px rgba(124,124,124,0.75)
	box-shadow: 0px 2px 4px 1px rgba(124,124,124,0.75)

	.banner-overlay
		background-color: #4f5051
		opacity: 0.7
		display: inline-block
		height: 800px
		width: 100%

	.banner-text	
		color: #fff
		h2
			padding-top: 175px
			margin-bottom: 0px
			font-size: 74px
			font-weight: bold
			text-align: center
		h3
			color: #4dcdff
			font-size: 36px
			font-weight: normal
			text-align: center

		a
			border: solid 2px
			padding: 15px
			display: inline-block
			position: relative
			left: 40%
			font-size: 24px
			margin-right: 15px
			-moz-border-radius:5px;
			-webkit-border-radius:5px;
			border-radius:5px;

		a:hover
			background-color: #fff

.about
	padding: 25px 0px 25px 0px
	.about-bio
		width: 1000px
		margin: 0 auto

form
	padding-bottom: 120px
	font-size: 20px;

.contact
	width: 1000px
	margin: 0 auto
	label
		display: block
		margin-top:5px
		letterspacing:2px
	input, textarea
		width: 500px
		height: 30px
		font-size: 24px
		border: 2px solid #b1b1b1
		background-color: #cecece
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;

	.submit
		display: block
		width: 100px
		height: 50px
		border: 2px solid #00B7FF
		background-color: #7f7f7f
		color: #fff

	textarea
		height: 250px !important


	input:focus, textarea:focus
    	background-color: #fff

