footer
	background-color: #9ea0a1
	padding: 10px 0px 10px 0px

	ul 
		list-style-type: none
		text-align: center
		li
			display: inline
			padding-right: 15px

	p
		font-size: 14px
		color: #fff
		text-align: center