@media only screen and (min-device-width: 320px) and (max-width: 600px)
	.banner
		.banner-overlay
			height: 450px

		.banner-text	
			h2
				padding-top: 85px
				margin-bottom: 0px
				font-size: 48px
				font-weight: bold
				text-align: center
			h3
				font-size: 24px

	.about
		.about-bio
			width: 320px

